header{
	background-color:#2c9cf2;
	color: white;
	padding: 55px;
	margin: 20px;
	font-size: 50px;
	margin-bottom: 0px;
	margin-top: 0px;
}

h1{
	background-color:#fcfeff;
	color: black;
	padding: 65px;
	margin: 20px;
	font-size: 50px;
	margin-bottom: 0px;
	margin-top: 0px;
}

h2{
	background-color:pink;
	color: black;
	padding: 15px;
	margin: 20px;
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
}

h3{
	background-color:#7DDA58;
	color: black;
	padding: 80px;
	margin: 20px;
	font-size: 50px;
	border: 50px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.cajita1{
	background-color:#960bb9;
	color: black;
	padding: 40px;
	margin: 10px 70px;
	display: inline-block;
	margin-bottom: 0px;
}

h4{
	background-color:#ecde18;
	color: black;
	padding: 80px;
	margin: 20px;
	font-size: 50px;
	border: 50px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.cajita2{
	background-color:#960bb9;
	color: black;
	padding: 40px;
	margin: 5px 25px;
	display: inline-block;
	margin-bottom: 0px;
}

h5{
	background-color: pink;
	color: black;
	padding: 80px;
	margin: 20px;
	font-size: 50px;
	border: 50px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.cajita3{
	background-color:#960bb9;
	color: black;
	padding: 40px;
	margin: 10px 70px;
	display: inline-block;
	margin-bottom: 0px;
}

.cajita4{
	background-color:#960bb9;
	color: black;
	padding: 40px;
	margin: 10px 70px;
	display: block;
	margin-bottom: 0px;
    height:50%;
    float:right;
    width:50%;
}

footer{
	background-color:grey;
	color: black;
	padding: 15px;
	margin: 25px;
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
}